@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Poppins','Raleway','Nunito','Nunito Sans';
    src: url('../src/assets/font/Poppins/Poppins-MediumItalic.ttf');
    font-weight: normal;
    font-style: italic;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-rounded::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-rounded::-webkit-scrollbar-thumb {
  background-color: #004A76; /* gray-300 */
  border-radius: 9999px;     /* biar rounded banget */
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-rounded::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-rounded::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0; /* gray-400 */
}

body {
  font-family: 'Nunito Sans', 'Nunito', 'Poppins', 'Raleway', sans-serif;
}